<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>template tool</title>
  <script type="text/javascript" src="/tool/templates/src/compatible.js"></script>
  <script type="text/javascript" src="/tool/templates/src/xlsx.full.min.js"></script>
</head>

<body>
  <style>
    * {
      box-sizing: border-box;
    }

    table {
      width: 100%;
    }

    tr th:first-child,
    tr td:first-child {
      width: 10em;
      vertical-align: top;
    }

    textarea {
      width: 100%;
      border: none;
      resize: vertical;
    }

    .up_btn {
      margin: 10px 0;
    }
  </style>

  <a href="/tool/templates/example.rar" download>参考示例</a>
  <div class="up_btn">
    上传base64图片： <input type="file" id="up_base64" name="" accept="image/jpeg,image/png,image/gif"
      onchange="base64(this)" multiple>
    <table id="base64-list" border="1">
      <thead>
        <tr>
          <th>图片</th>
          <th>图片名</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="up_btn">
    上传模板： <input type="file" id="up_template" name="" accept="text/html" onchange="showfile(this)">
  </div>

  <div class="up_btn">
    上传数据： <input type="file" id="up_data" name=""
      accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      onchange="showfile(this)">
  </div>

  <div id="excelFile"></div>

  <script type="template" id="base64-template">
    <tr>
      <td><img src="{{img-base64}}" alt="{{img-name}}"></td>
      <td>{{img-name}}</td>
    </tr>
  </script>

  <script>
    var base64Obj = {};
    var base64Count = 0;
    var base64List = document.getElementById("base64-list").querySelector("tbody");
    function base64(obj) {
      if (!obj.files || obj.files.length < 1) return false;
      var files = obj.files;
      base64Count = 0;
      for (var f = 0; f < files.length; f++) {
        files[f].total = files.length;
        handleFile(files[f])
      }
      obj.value = '';
    }

    function handleFile(file) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.total = file.total;
      reader.name = file.name;
      reader.onload = function (e) {
        var total = e.target.total;
        var name = e.target.name;
        var result = e.target.result;

        if (base64Obj.hasOwnProperty(name)) return false;

        var base64Templ = document.getElementById("base64-template").innerHTML;
        base64Templ = base64Templ.replaceAll("{{img-base64}}", result);
        base64Templ = base64Templ.replaceAll("{{img-name}}", name);

        base64List.innerHTML += base64Templ;
        var currentItem = base64List.lastElementChild;
        currentItem.style.display = "none";
        var _img = currentItem.querySelector("img");
        _img.total = total;
        _img.flag = "false";
        _img.onload = function () {
          if (this.flag != "false") return false;
          this.flag = "true";
          base64Count++;
          if (base64Count == this.total) {
            base64List.querySelectorAll("img").forEach(function (ele) {
              var img = ele;
              var w = 100;
              var h = img.height * w / img.width;

              var _canvas = document.createElement("canvas");
              _canvas.setAttribute("width", w);
              _canvas.setAttribute("height", h);
              _canvas.getContext("2d").drawImage(img, 0, 0, w, h);
              var base64 = _canvas.toDataURL("image/jpeg");
              img.src = base64;
              img.parentElement.parentElement.style.display = "";
              base64Obj[img.alt] = base64;
            });
          }
        }
      }
    }

    var excelFile;
    // 读取文件的内容
    function showfile(obj) {
      if (!obj.files || !obj.files[0]) {
        return;
      }
      var f = obj.files[0];
      var reader = new FileReader();
      reader.readAsBinaryString(f);
      reader.type = f.type;
      reader.onload = function (e) {
        var data = e.target.result;
        var type = e.target.type;

        if (!window.templateData) window.templateData = {}
        if (type === "text/html") {
          templateData.template = data;
        } else {
          templateData.excel = data;
        }
        if (!templateData.template || !templateData.excel) return false;

        var excelData = templateData.excel;
        excelFile = XLSX.read(excelData, {
          type: 'binary'
        });

        document.getElementById("excelFile").innerHTML = "";
        var dataTable1 = "<table border='1'><thead><tr><th>name</th><th>content</th></tr></thead><tbody>";
        for (var i = 0; i < excelFile.SheetNames.length; i++) {
          var template = templateData.template;
          var headers = new Array();
          var sheet1 = excelFile.Sheets[excelFile.SheetNames[i]];
          if (!sheet1["!ref"]) continue;
          var excelArr = sheet1["!ref"].split(":");
          var excelCol = excelArr[1].replace(/[0-9]/g, "").charCodeAt() - excelArr[0].replace(/[0-9]/g, "").charCodeAt() + 1;
          var excelRow = excelArr[1].replace(/[A-Z]/g, "") - excelArr[0].replace(/[A-Z]/g, "") + 1;

          dataTable1 += "<tr><td>" + excelFile.SheetNames[i] + "</td>";

          for (var r = 0; r < excelRow; r++) {
            if (sheet1[String.fromCharCode(66) + (r + 1)]) {
              var name = "{{" + sheet1[String.fromCharCode(65) + (r + 1)].v + "}}";
              var content = sheet1[String.fromCharCode(66) + (r + 1)].v;

              if (name === "{{navigation-description-content}}") {
                content = content.replace(/\s+/g, " ").trim().replace(/((?=^)|<\/[hp\d]*>)\s*(<[hp\d]*>)/g, "$1\n            $2");
              }

              template = template.replace(new RegExp(name, "g"), content);
            }
          }

          while(template.match(/background-image:\s*base64\((.*?)\);/)){
            var replaced = template.match(/background-image:\s*base64\((.*?)\);/)[0];
            var img_name = template.match(/background-image:\s*base64\((.*?)\);/)[1];
            var img_base64 = "";
            if (base64Obj.hasOwnProperty(img_name)) {
              img_base64 = "background-image: url(" + base64Obj[img_name] + ");";
            }
            template = template.replace(replaced, img_base64);
          }

          dataTable1 += "<td><textarea>" + template + "</textarea></td></tr>";
          document.getElementById("excelFile").innerHTML = dataTable1 + "</tbody></table>";

          resizeTextArea();
        }
      }
    }

    window.addEventListener("input", function (e) {
      var target = e.target;
      if (target.tagName.toLocaleLowerCase() === "textarea") {
        target.style.height = "";
        target.style.height = Number(target.scrollHeight) + 2 + "px";
      }
    });

    window.addEventListener("click", function (e) {
      resizeTextArea();
    });

    window.addEventListener("submit", function (e) {
      resizeTextArea();
    });

    window.addEventListener("resize", function () {
      resizeTextArea();
    });

    function resizeTextArea() {
      document.querySelectorAll("textarea").forEach(function (e) {
        e.style.height = "";
        e.style.height = Number(e.scrollHeight) + 2 + "px";
      });
    }
  </script>
</body>

</html>
